.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  width: 88%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 70px;
  cursor: pointer;
  color: #777;
  font-size: 20px;
  transition: 0.3s;
}
.close-modal:hover {
  color: #000;
}
.order-confirm {
  font-size: 30px;
  font-weight: bold;
}
.header {
  color: #958d8d;
  margin-bottom: 20px;
}
.modal-list {
  background-color: hsl(13, 31%, 94%);
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 30px;
  justify-content: baseline;
}
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebe3e3;
  gap: 12px;
  padding: 12px;
  margin-left: 2px;
}
.item-info {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  margin-left: 15px;
  padding: 10px;
}
.img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.item-name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.item-count {
  color: rgb(183, 10, 10);
  font-weight: bold;
  margin-right: 8px;
}
.item-price {
  font-size: 15px;
}
.item-total {
  font-size: 18px;
  font-weight: bold;
}
.total-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}
.total-order p {
  font-size: 18px;
  color: #928c8c;
  font-weight: bold;
}
.total-order h2 {
  font-size: 30px;
  font-weight: bold;
}
.newOrderBtn {
  margin: 30px auto;
  padding: 10px;
  width: 100%;
  border-radius: 30px;
  background-color: rgb(217, 50, 50);
  color: #fff;
}

.newOrderBtn:hover{
  background-color: rgb(181, 40, 40);
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 100%;
    max-width: 100%;
    height: 1005;
    border-radius: 0;
  }

}
